- @tracks.each do |track|
  - sctrack = @@client.Track.find(track.sc_id)
  %p
    = player sctrack, :autoplay => false
    = link_to "more tracks", "/play/#{sctrack.user.permalink}"
    = link_to "follow", "/play/#{sctrack.user.permalink}/next"
