- player_value = "http://player.soundcloud.com/player.swf?url=#{URI.encode @sc_track.permalink_url}&amp;show_comments=false&amp;player_type=tiny&amp;auto_play=true"

%h1
  = @sc_track.title
  (
  = @username
  )

%form{:name => 'parameters', :action => "/play/#{@username}", :method => "GET"}

  = player @sc_track
  - min = @sc_track.duration/1000/60
  - sec = (@sc_track.duration - 60000*min)/1000
  = "#{min}'#{sec}\""
  ,
  = @track.played
  plays
  = Track.expected_quality(@sc_track)

  %input{:type => 'hidden', :name => :track_id, :value => @track.id} 
  -# why is checkbox checked??
  %input{:type => 'checkbox', :name => :favorite, :value => "true", :checked => @track.favorite } Favorite

%p
  = link_to "next track", "/play/#{@username}" 
  = link_to "next artist", "/play/#{@username}/next" 
